#!/usr/bin/env nextflow

// This should always be overwritten
params.obsid = "no_obsid"

hostname = "$HOSTNAME"
if ( hostname.startsWith("garrawarla") ) {

    executor.$slurm.queueSize = 1000
    executor.submitRateLimit = '100 sec'

    process.module = 'singularity/3.7.4'
    singularity {
        enabled = true
        //cacheDir = '/pawsey/mwa/singularity'
        //runOptions = '--nv -B /nvmetmp'
        envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
    }
    params.containerDir = '/pawsey/mwa/singularity'
    params.module_dir = '/pawsey/mwa/software/python3/modulefiles'
    params.basedir = '/group/mwavcs/vcs'

    workDir = "/astro/mwavcs/${USER}/${params.calid}_work"
    process {
        // Slurm queue configs
        cache = 'lenient'
        withLabel: cpu_one {
            cpus = 1
            memory = "10 GB"
            queue = 'workq'
            executor = 'slurm'
        }
        withLabel: cpu_all {
            cpus = 38
            memory = "64 GB"
            queue = 'workq'
            executor = 'slurm'
        }
        withLabel: download {
            cpus = 1
            memory = "10 GB"
            queue = 'copyq'
            executor = 'slurm-zeus'
        }
        withLabel: zeus {
            cpus = 28
            memory = "10 GB"
            queue = 'workq'
            executor = 'slurm-zeus'
        }

        // Software configs
        withLabel: mwa_reduce {
            container = "file:///${params.containerDir}/mwa-reduce/mwa-reduce.img"
        }
        withLabel: wsclean {
            container = "file:///${params.containerDir}/wsclean/wsclean_2022.03.29.sif"
        }
    }
}